<!DOCTYPE html>
<html lang="en">
<head>
  <title>searchblood</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <style>
    /* Remove the navbar's default rounded borders and increase the bottom margin */ 
    .navbar {
      margin-bottom: 50px;
      border-radius: 0;
    }
    
    /* Remove the jumbotron's default bottom margin */ 
     .jumbotron {
      margin-bottom: 0;
    }
   
    /* Add a gray background color and some padding to the footer */
    footer {
      background-color: #f2f2f2;
      padding: 25px;
    }
  </style>
</head>
<body>

<div class="jumbotron">
  <div class="container text-center">
    <h1>DONATE BLOOD,SAVE LIFE</h1>      
    <p>Search Blood</p>
  </div>
</div>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" href="#">Logo</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Home</a></li>
        <li class="active"><a href="dfg2.html">Donor Register</a></li>
        <li class="active"><a href="searchblood.html">Search</a></li>
        <li class="active"><a href="bloodreq.html">Blood Request</a></li>
        <li class="active"><a href="#">View Request</a></li>
        <li class="active"><a href="camps.html">Camps</a></li>
        <li class="active"><a href="contactus.html">Contact Us</a></li
        <li class="active"><a href="#">About Us</a></li>
      </ul>
      </div>
  </div>
</nav>

<div class="row backgroundimg">
  <div class="container">
<div class="container">
  <div class="vertical-center-row">
        <div align="center">Select Blood Group</div>
    
  
    
<div class="row">
  <div class="col-md-12 school-options-dropdown text-center">
    <div class="dropdown btn-group">


       
    
    <form class="form-inline">
  <label class="my-1 mr-2" for="inlineFormCustomSelectPref">Select Blood Group</label>
  <select class="custom-select my-1 mr-sm-2" id="inlineFormCustomSelectPref">
    <option selected>Choose...</option>
    <option value="1">A+VE</option>
    <option value="2">B+VE</option>
    <option value="3">A-VE</option>
    <option value="4">B-VE</option>
    <option value="5">AB+VE</option>
    <option value="6">AB-VE</option>
    <option value="7">O+VE</option>
    <option value="8">O-VE</option>
    </select>

    
      
  </div>
</div>


</body>
</html>


</body>
</html>
