<!DOCTYPE html>
<html lang="en">
<head>
  <title>donorpanel</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


<style>

.bgimg {
    background: url("{{ url_for("static", filename="images/do1.jpg") }}");
    min-height: 380px;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.middle {
    position: absolute;
    top: 50%;
    left: 20%;
    transform: translate(-50%, -50%);
    text-align: left;
}



</style>
</head>
<body>

    {% include 'donor_layout.html' %}

<div class="bgimg">
 <div class="middle">
    <h1>
        WELCOME TO DONOR PANEL
    </h1>
    
</div>  
  
</div>

</body>
</html>
