<!DOCTYPE html>
<html lang="en">
<head>
  <title>tips</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <style>

    /* Remove the navbar's default rounded borders and increase the bottom margin */ 
    .navbar {
      margin-bottom: 50px;
      border-radius: 0;
    }
    
    /* Remove the jumbotron's default bottom margin */ 
     .jumbotron {
      margin-bottom: 0;
    }
   
    /* Add a gray background color and some padding to the footer */
    footer {
      background-color: #f2f2f2;
      padding: 25px;
    }
</style>
</head>
<body>

<div class="jumbotron">
  <div class="container text-center">
    <h1>DONATE BLOOD,SAVE LIFE</h1>      
    <p>About Us</p>
  </div>
</div>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" href="#">Logo</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Home</a></li>
        <li class="active"><a href='dfg2'>Donor Register</a></li>
        <li class="active"><a href='searchblood'>Search</a></li>
        <li class="active"><a href='bloodreq'>Blood Request</a></li>
        <li class="active"><a href="#">View Request</a></li>
        <li class="active"><a href='camps'>Camps</a></li>
        <li class="active"><a href='contactus'>Contact Us</a></li
        <li class="active"><a href="#">About Us</a></li>
      </ul>
     </div>
  </div>
</nav>

<div class="col-sm-8 text-left">
      <h4>TIPS ON BLOOD DONATION</h4>
<hr>
       1)On the day of your donation:
<ul><li>Drink an extra 16 oz. of water (or other nonalcoholic drink) before your appointment.</li>
<li>Eat a healthy meal, avoiding fatty foods like hamburgers, fries or ice cream.</li>
<li>Wear a shirt with sleeves that you can roll up above your elbows.</li>
<li>Let us know if you have a preferred arm or particular vein that has been used successfully in the past to draw blood.</li>
<li>Relax, listen to music, talk to other donors or read while you donate.</li></ul>
2)Additional tips for after your donation:
<ul><li>Keep the strip bandage on for the next several hours; to avoid a skin rash, clean the area around the bandage with soap and water.</li>
<li>Don't do any heavy lifting or vigorous exercise for the rest of the day.</li>
<li>If the needle site starts to bleed, apply pressure and raise your arm straight up for 5-10 minutes or until bleeding stops.</li>
<li>Call us at 1-866-236-3276 to report any additional health information that you forgot to tell us, if you have any problems or if you needed medical care after giving blood.</li>
<li>If you experience dizziness or lightheadedness, stop what you're doing and sit down or lie down until you feel better; avoid performing any activity where fainting may lead to injury for at least 24 hours.</li>
<li>Keep eating iron-rich foods. Learn which foods help.</li>
<li>If you donate frequently, be sure to take multivitamins with iron to ensure you continue to replenish your iron stores before your next donation.</li></ul>

      
</div>	 

</body>
</html>
